body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f9;
  color: #333;
}

header {
  background-color: #003344;
  padding: 20px;
  text-align: center;
  color: white;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.category-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 25px;
  border-radius: 12px;
  text-decoration: none;
  color: #003366;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
}

.category-card:hover {
  background-color: #003366;
  color: white;
  transform: translateY(-5px);
}

.logout-link {
  display: inline-block;
  margin-top: 40px;
  color: #003366;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #003366;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.logout-link:hover {
  background-color: red;
  color: white;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #fff;
  color: green;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0,0,0,0.08);
  align-items: center;
  justify-content: center;

}

.btn:hover{
  background-color: green;
  color:white;
  transform: translateY(-5px);
}

.navbar {
  background-color: #003366;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  margin: 0;
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffdd57;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  nav {
    padding: 10px;
  }
}

@media (max-width: 600px) {
  #scores-container {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .score-card {
    margin: 0 10px;
  }
}

@media (max-width: 600px) {
  .quiz-box, .welcome-box {
    width: 95%;
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  button, select {
    width: 100%;
  }
}

